h1 {
  color: white;
}

h2 {
  color: white;
}


body {
  background-image: url("http://optindustries.com/wp-content/uploads/2019/09/comingsoon.jpg");
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: auto;

}



footer {
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  justify-content: center;
  padding: 10px 15px;
  background-color: black;
  color: white;
}

form {
  text-transform: capitalize;
  color: white;
  display: flex;
  position: center;
  left: 0;
  bottom: 0;
  width: 100%;
  justify-content: center;
  padding: 10px 15px;
}