html {
  height: 100%;
  margin: 0;
}

.inner-container {
  position: relative;
  background-color: black;
  height: 100%;
  width: 100%;
}

.logo {
  display: block;
  width: 20%;
  left: 10%;
}

img {
  height: auto !important;
  width: auto;
  max-width: 100%;
  display: block;
  max-height: 80px;
}

label {
  margin-bottom: 0rem;
}

body {
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: auto;
  line-height: 1;
}

div.main {
  background-image: url("https://cdn.glitch.com/3aca5361-a4b4-4e6e-bfe3-a97f345add51%2Foptbackground.jpg?v=1576639605549");
  background-repeat: no-repeat;
  background-size: auto;
  left: 0px;
  top: 0px;
  color: rgb(197, 197, 197);
}

div.center {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}

.vertical-center {
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.model_panel {
  display: inline-block;
  position: relative;
  width: 400px;
  height: 475px;
  padding: 10px;
}

.info_panel {
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 400px;
  height: 475px;
  padding: 10px;
}

footer {
  display: flex;
  position: fixed;
  left: 0;
  width: 100%;
  justify-content: center;
  padding: 10px 15px;
  background-color: black;
  color: white;
}

form {
  color: white;
  display: flex;
  position: center;
  left: 0;
  bottom: 0;
  width: 100%;
  justify-content: center;
  padding: 10px 15px;
}

div.pdf-button {
  color: white;
  display: flex;
  position: center;
  left: 0;
  bottom: 0;
  width: 100%;
  justify-content: center;
  padding: 10px 15px;
}

.cinfo {
  width: 100%;
  padding: 0px 10px 0px 10px;
  margin-bottom: 10px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .25) 6.25%, rgba(0, 0, 0, .5) 12.5%, rgba(0, 0, 0, .75) 25%, rgba(0, 0, 0, .75) 50%, rgba(0, 0, 0, .75) 75%, rgba(0, 0, 0, .5) 87.5%, rgba(0, 0, 0, .25) 93.75%, rgba(0, 0, 0, 0) 100%);}

#info_display::before,
#info_display::after,
#display_options::before,
#display_options::after {
    content: '';
    position: relative;
    left: 0;
    width: 100%;
    height: 20px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .25) 6.25%, rgba(0, 0, 0, .5) 12.5%, rgba(0, 0, 0, .75) 25%, rgba(0, 0, 0, .75) 50%, rgba(0, 0, 0, .75) 75%, rgba(0, 0, 0, .5) 87.5%, rgba(0, 0, 0, .25) 93.75%, rgba(0, 0, 0, 0) 100%);    display: inline-block;
  }

.cinfo table {width:100%;}
.cinfo tr {text-align:left;vertical-align:top;}
.cinfo tr td {padding-top: 10px;}
.cinfo tr th {font-weight: normal;padding-top: 10px;}