html {
  height: 100%;
  margin: 0;
}

h1 {
  color: white;
}

h2 {
  color: white;
}

.inner-container {
  position: relative;
  background-color: black;
  height: 100%;
  width: 100%;
}

.logo {
  display: block;
  width: 20%;
  left: 10%;
}

img {
  height: auto !important;
  width: auto;
  max-width: 100%;
  display: block;
  max-height: 80px;
}

body {
  background-image: url("https://cdn.glitch.com/3aca5361-a4b4-4e6e-bfe3-a97f345add51%2Foptbackground.jpg?v=1576639605549");
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: auto;
   
}

footer {
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  justify-content: center;
  padding: 10px 15px;
  background-color: black;
  color: white;
}

form {
  text-transform: capitalize;
  color: white;
  display: flex;
  position: center;
  left: 0;
  bottom: 0;
  width: 100%;
  justify-content: center;
  padding: 10px 15px;
}